@import "tailwindcss";


@layer base {

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
}

@layer components {
  .btn-primary {
    background-color: black;
    color: #facc15;
    border: 2px solid #facc15;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    transition: all 0.2s ease;
  }

  .btn-primary:hover {
    background-color: #facc15;
    color: black;
    transform: scale(1.05);
    cursor: pointer;
  }

  .input-base {
    background-color: #242424;
    border: 2px solid #3f3f46;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.6rem;
    text-align: center;
  }

  .input-base:focus {
    outline: none;
    border-color: #facc15;
  }

  .btn-secondary {
    background-color: #18181b;
    color: #e4e4e7;
    border: 1px solid #facc15;
    border-radius: 9999px;
    font-size: x-small;
    padding: 0.5rem 0.75rem;
  }

  .btn-secondary:hover {
    background-color: black;
    color: #facc15;
    transform: scale(1.05);
    cursor: pointer;
  }

  /*If src empty, display=none */
  #weatherIcon:not([src]), 
  #weatherIcon[src=""] {
    display:none;
  }

  .weather-collapsed #iconSpace {
    display: none;
  }

  .weather-expanded #iconSpace,
  .weather-expanded #weatherSpace {
    display: block;
  }
}